# reading arbitrary length string
snippet readstr "char *input; ..."
char *${1:input} = NULL;
size_t n = 0; ssize_t nchr = 0;
if ((nchr = getline(&$1, &n, stdin)) != -1) $1[--nchr] = 0;$0
endsnippet

# reading an int
snippet readint "int input;"
int ${1:input};
scanf("%d", &$1);$0
endsnippet
